
.formContainer{
    position: absolute;
    top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  */
  height: 30%;
 
  

}
.inputContainer{
    display: flex;
    justify-content: center;
}

.searchFriends{
  margin-top: 6px;
  width: 100%;
  border-radius: 20px;
  
}
.findFriendButton{
  display: flex;
  align-items: center;
  justify-content: center;
}
.possibleFriendResult{
  background-color: brown;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.possibleFriendResultButton{
  all: unset;
  width: 100%;
  display: flex;
  margin-top: 5px;
}
.friendImage{
  
  object-fit: cover;
  height: unset;
  aspect-ratio: 5 / 5;
  background-position: center;
  border-radius: 100%;
  

  
}
.friendImageMessage{
  
  object-fit: cover;
  height: unset;
  aspect-ratio: 5 / 5;
  background-position: center;
  border-radius: 100%;
  

  
}
.friendImageMessageContainer{
  width: 60px;
}

.startConversationBtn{
  width: 100%;
}
.whiteText{
  color: white;
  background-color: black;
  position: relative;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}
.displayMessage{
  background-color: blueviolet;
  border-radius: 5px;

}
