
.formContainer{
    position: absolute;
    top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  */
  height: 30%;
 
  

}
.inputContainer{
    display: flex;
    justify-content: center;
}

.searchFriends{
  margin-top: 60px;
  width: 100%;
  border-radius: 20px;
  
}
.findFriendButton{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a{
  margin-top: 60px;
}
.possibleFriendResult{
  background-color: #007685;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 1px 1px;

}

.possibleFriendResultButton{
  all: unset;
  width: 100%;
  margin-top: 6px;
  background-color: #557a95;
  border-radius: 20px 20px 20px 20px;

}
.possibleFriendResultButtonAddContact{
  all: unset;
  width: 100%;
  margin-top: 6px;
  display: flex;
  background-color: #B1A296;
  border-radius: 10px 10px 10px 10px;
}
.possibleFriendResultAddContact{
  background-color: #B1A296;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}






.friendImage{
  object-fit: cover;
  height: unset;
  aspect-ratio: 5 / 5;
  background-position: center;
  border-radius: 100%;
}






.friendImageMessage{
  
  object-fit: cover;
  height: unset;
  aspect-ratio: 5 / 5;
  background-position: center;
  border-radius: 100%;
  height: 60px;
  

  
}
.friendImageMessageContainer{
  width: 60px;
  height: 60px;
  margin-right: 3px;
  margin-left: 3px
}
.CurrentFriendImageConatiner{
  width: 90px;
  height: 90px;
  

}

.startConversationBtn{
  width: 100%;
}
.whiteText{
  color: white;
  background-color: black;
  position: relative;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}
.displayMessage{
  background-color: #557A95;
  border-radius: 10px;
  overflow-wrap: break-word;
  min-height: 20px;
}

.ParticipantBarContainer{
  position: fixed;
  top: 48px;
  max-width: 600px;
  height: 60px ;
}
/* 
.FriendsContainer{
  /* width: 100% !important; */
  /* display: flex;  */
  /* justify-content: space-around;  */
/* }  */
#messageAlert{
  
  position: "fixed" !important;
  top: "200px" !important
}

